<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">

<head>
    <title>Log in</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css">
    <link rel="stylesheet" href="/custom.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/custom.js"></script>
</head>
<body>
        <div th:replace="fragments/navigation :: nav"></div>
    <div class="container tweet-list border-bottom">
		<div class="row">
			<h2 class="col-xs-12 border-bottom">Tweets containing #<span th:text="${tag}"></span></h2>
	         <div class="col-xs-6 each-tweet" th:each="tweet:${tweetList}">
	            <div class="tweet-padding border-bottom">
			        <h5><a th:href="@{'/users/'+${tweet.user.username}}">@<span th:text="${tweet.user.username}"></span></a></h5>
		            <small><span th:text="${#dates.format(tweet.createdAt, 'M/d/yy')}"></span></small></h5>
		            <p th:utext="${tweet.message}"></p>
		        </div>
		    </div>
	      	<div class="col-xs-6 each-tweet" th:if="${#lists.isEmpty(tweetList)}">
	        	<span><strong>No tweets contain this hashtag</strong></span>
	        </div>
		</div>

    </div>
</body>

  
